@mixin clearfix {
	//Elements after a floating element will flow around it. Use the "clearfix" hack to fix the problem: https://www.w3schools.com/howto/howto_css_clearfix.asp
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

//-----------------------//
//--MEDIA QUERY MANAGER--//
//-----------------------//

/* 

PHone: 0 - 600px
Tablet Portrait: 600 - 900px
Tablet Landscape: 900 - 1200px
Normal Styles: 1200 - 1800px
Desktop: 1800px + 

*/

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		//https://sass-lang.com/documentation/at-rules/control/if
		@media only screen and (max-width: 37.5em) {
			@content;
		} //600px
	}
	@if $breakpoint == tab-port {
		//https://sass-lang.com/documentation/at-rules/control/if
		@media only screen and (max-width: 56.25em) {
			@content;
		} //900px
	}
	@if $breakpoint == tab-landscape {
		//https://sass-lang.com/documentation/at-rules/control/if
		@media only screen and (max-width: 75em) {
			@content;
		} //1200px
	}
	@if $breakpoint == small-desktop {
		@media only screen and (max-width: 90em) {
			@content;
		} //1400px
	}
	@if $breakpoint == big-desktop {
		//https://sass-lang.com/documentation/at-rules/control/if
		@media only screen and (min-width: 112.5em) {
			@content;
		} //1800px
	}
}
