// -------------- Font Colours -------------- //
$font-colour-primary: #737373;
$font-colour-secondary: #f69167;
$font-colour-tertiary: white;
$font-colour-four: #faf7f1;
$font-colour-black: #000;

// -------------- Font sizes -------------- //

$font-very-small: 0.5rem;
$font-small: 0.85rem; //14px
$font-small-med: 1rem;
$font-med: 1.2rem;
$font-med-large: 1.8rem;
$font-large: 3.2rem;

// -------------- Grid -------------- //
$grid-width: 120rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 6rem;
