.card01 {
	filter: drop-shadow(6px 6px 25px rgba(0, 0, 0, 0.17));
	justify-self: center;
	width: 90%;
	height: auto;
	text-decoration: none;

	&__photo {
		width: inherit;
		height: inherit;
		border-radius: 0.95rem;
		z-index: 4;
		transition: all 0.4s ease-in-out;
	}

	&__caption {
		position: absolute;
		// top: 85%;
		left: 50%;
		color: $font-colour-tertiary;
		transform: translate(-50%, 25%);
		opacity: 0;
		text-align: center;
		backface-visibility: hidden;
		transition: all 0.3s ease-in-out;
	}

	&:hover &__caption {
		opacity: 1;
		transform: translate(-50%, -13.5em);
	}

	&:hover &__photo {
		// transform: scale(1.03);
		filter: blur(3px) brightness(60%);
	}
}

.card02 {
	background-color: $font-colour-tertiary;
	border-radius: 2rem;
	flex-direction: column;
	padding: 2.2rem;
	font-size: $font-small;
	font-family: "Comic Neue", cursive;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease-in-out;
	backface-visibility: hidden;

	&__container {
		&--img {
			width: 6rem;
			height: 6rem;
		}
		&--text {
			padding-top: 1.5rem;
		}
	}

	&__img {
		width: 100%;
		height: auto;
	}

	&:hover {
		transform: scale(1.03);
		box-shadow: 8px 8px 22px rgba(0, 0, 0, 0.15);
	}
}
