.composition {
	position: relative;

	@include respond(phone) {
		display: none;
	}

	&__photo {
		box-shadow: 0 1rem 2rem rgba(#000, 0.4);
		border-radius: 2px;
		position: absolute;
		z-index: 10;

		&--1 {
			width: 50%;
			right: 37%;
			top: 2rem;
			z-index: 11;

			@include respond(small-desktop) {
				left: 20%;
				width: 60%;
			}

			@include respond(tab-landscape) {
				display: none;
			}
		}
		&--2 {
			width: 30%;
			top: 5rem;
			right: 15%;
			z-index: 12;

			@include respond(small-desktop) {
				top: 10rem;
				left: 30%;
				width: 60%;
			}

			@include respond(tab-landscape) {
				left: 2.7rem;
				top: 5rem;
				width: 85%;
			}
		}
		&--3 {
			width: 25%;
			right: 40%;
			top: 14rem;
			z-index: 13;

			@include respond(small-desktop) {
				left: 20%;
				width: 40%;
				top: 21rem;
			}

			@include respond(tab-landscape) {
				display: none;
			}

			@include respond(tab-port) {
				display: flex;
				left: 1rem;
				height: 15rem;
				width: auto;
			}
		}
	}
}
