.mobile {
	&__header {
		position: fixed;
		top: 0;
		right: 0;
		width: 0;
		height: 100vh;
		z-index: 100;
		box-shadow: -13px 0px 17px -1px rgba(0, 0, 0, 0.15);
		overflow: hidden;
		transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
		z-index: 150;

		&--menu {
			display: flex;
			justify-content: center;
			flex-direction: column;
			background: $font-colour-secondary;
			padding: 3rem;
			width: 100%;
			height: inherit;

			@include respond(phone) {
				padding: 2rem 1.5rem 0 1.5rem;
				font-size: $font-small;
			}
		}

		&--active {
			width: 30%;

			@include respond(tab-port) {
				width: 35%;
			}

			@include respond(phone) {
				width: 100%;
			}
		}
	}
}
