.mobile {
	&__header {
		position: fixed;
		top: 0;
		right: 0;
		width: 0;
		height: 100vh;
		z-index: 100;
		box-shadow: -13px 0px 17px -1px rgba(0, 0, 0, 0.15);

		overflow: hidden;

		transition: 0.5s ease;

		&--menu {
			flex-direction: column;

			background-color: $font-colour-tertiary;
			padding: 3rem;

			width: 100%;
			height: inherit;

			@include respond(phone) {
				padding: 2rem 1.5rem 0 1.5rem;
				font-size: $font-small;
			}
		}

		&--active {
			width: 30%;

			@include respond(tab-port) {
				width: 35%;
			}

			@include respond(phone) {
				width: 70%;
			}
		}
	}
	&__btn {
		padding: 0.3rem 0;
		margin: 0.2rem 0;
		color: $font-colour-primary;
		text-decoration: none;
	}
	&__close {
		position: absolute;
		text-decoration: none;
		top: 0;
		left: 0;

		padding: 1rem;
		font-size: $font-med;
		color: $font-colour-primary;

		@include respond(phone) {
			font-size: $font-small;
		}
	}
}
