.section {
	&__team {
		&:not(&:last-child) {
			padding-bottom: 3rem;
		}
	}
}

.team {
	&__photo {
		border-radius: 2%;
		width: 16rem;
		height: auto;
		&--01,
		&--03 {
			margin-right: 2rem;
		}
		&--02 {
			margin-left: 2rem;
		}
	}
	&__text {
		margin-top: 0;
		margin-bottom: 1rem;
	}
}
