.section {
	&__FAQ {
		background-image: url(../../images/hero-faq.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		overflow: hidden;

		&--container {
			text-align: left;
			flex-direction: column;
			color: $font-colour-tertiary;
		}
	}
}
